body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: white;
  padding: 20px;
}

nav a {
  color: #aee;
  margin-right: 15px;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background: #eee;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
